---
import Layout from "../../layouts/layout.astro";
import { useTranslations } from "../../i18n/utils";

const lang = Astro.currentLocale || "fr";
const t = useTranslations(lang);

export async function getStaticPaths() {
    return [{ params: { locale: "en" } }, { params: { locale: "fr" } }];
}
---

<Layout
    title="Astro Web Framework Simple Starter Template"
    description="This is a simple starter template for the Astro Web Framework.  This is a clean boilerplate with some small useful additions."
    keywords="Astro themes, astro web framework, astro website, astro web project, astro web app, astro javascript, astro js, astro web library, astro coding, astro web development"
    canonicalURL="http://localhost:4321/"
    robots="index, follow"
>
    <main class="bg-slate-100">
        <section class="max-w-4xl mx-auto p-8">
            <h1 class="text-center mb-6">Mon site Astro</h1>
            <h2 class="text-center mb-6">{t("home.welcome")}</h2>
            <p class="mb-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                consectetur augue id dignissim porta. Sed quam augue, semper ut
                purus a, efficitur iaculis enim. Integer a lorem dictum enim
                finibus accumsan. Pellentesque rutrum neque massa, sit amet
                ultrices ex pharetra iaculis. Sed interdum fringilla aliquet.
                Curabitur feugiat laoreet lacus, nec faucibus dolor viverra sit
                amet. Ut lacinia neque vitae nisl auctor, pellentesque congue
                enim bibendum. Nam bibendum erat nec lacus ornare, convallis
                pellentesque sapien auctor.
            </p>
            <p class="mb-2">
                Curabitur quis tincidunt lectus. Mauris eu nisl volutpat,
                molestie elit a, tempor sapien. Mauris tristique aliquet sapien.
                Praesent non nulla sed dui iaculis placerat id vitae erat.
                Suspendisse convallis erat nec felis gravida varius. Nam nec
                massa in sem eleifend convallis vel sed ante. Donec aliquam
                lacinia imperdiet. Fusce erat diam, egestas eu vulputate at,
                laoreet in orci. Donec volutpat, odio eget dictum scelerisque,
                quam dolor pellentesque turpis, quis venenatis erat erat ut
                dolor. Donec iaculis sagittis feugiat. Donec tempus elit sit
                amet nulla consectetur mollis. In condimentum leo erat, sed
                facilisis elit iaculis ac. Phasellus sit amet ante blandit justo
                lacinia elementum. Quisque consequat ex non nunc convallis
                accumsan. Curabitur tortor felis, placerat vel sapien quis,
                gravida sodales sem.
            </p>
            <p class="mb-2">
                Aliquam vitae lacus feugiat, malesuada ligula et, fringilla
                purus. In consectetur dignissim purus, sed iaculis est hendrerit
                eu. Nullam a erat vel elit faucibus tempor. Nam velit velit,
                commodo in tortor et, dignissim dictum elit. Curabitur lacinia
                dui nisi, vel mollis nisi efficitur quis. In hendrerit, quam in
                egestas suscipit, nulla eros vestibulum lacus, id dapibus felis
                mauris sit amet lacus. Integer commodo scelerisque bibendum.
                Donec vulputate augue eu ex aliquam ullamcorper. In vulputate eu
                augue quis eleifend. Vivamus et arcu a ex facilisis sodales sit
                amet ac massa. Morbi quis eros elementum, gravida justo ac,
                ullamcorper erat. Fusce ut ipsum laoreet, dapibus felis at,
                iaculis libero. Etiam aliquet hendrerit justo vel sagittis.
            </p>
        </section>
    </main>
</Layout>
