---
import LanguagePicker from "../components/languagePicker.astro";

interface Props {
    siteTitle: string;
}

const { siteTitle } = Astro.props;
---

<footer class="bg-purple-900">
    <section class="max-w-xl mx-auto p-8 text-center text-white">
        <p>
            {siteTitle} • © {new Date().getFullYear()}
        </p>
        <LanguagePicker />
    </section>
</footer>
